{% extends "base.html" %}

{% block content %}

<h1 class="header">Deplatformer liberates your Facebook data</h1>

<ol>
    <li>Select "Facebook > Deplatform" and follow the instructions on how to export and liberate your content.</li>
    <li>Select "Facebook > Upload content" and move your data to Deplatformer.</li>
    <li>Select "Facebook > View content" to see your Facebook albums as well as your Facebook memories that you posted over the years on this day, {{ this_month }} {{ this_day }}.</li>
    <li>You can add new photos to existing Facebook albums or delete albums you no longer want to keep.</li>
    <li>You can Select "All media" to create new albums and manage this new content via Deplatformer.</li>
</ol>
<hr>
<div id="more" style="padding: 20px 0 0 20px;">
<h2>Stay tuned!</h2>
<p>This is the basic Milestone 1 release of Deplatformer. In the upcoming Milestone 2 release your uploaded content will be encrypted and three redundant copies of the encrypted data will be stored to the <a href="https://filecoin.io/">Filecoin</a> network.
</p>
<p>Subscribe to the Deplatformer <a href="https://deplatformer.substack.com/">newsletter</a> to keep up to date on our progress. You can also <a href="https://twitter.com/deplatformer_io">follow us</a> on Twitter <i class="fab fa-twitter fa-lg"></i></p>
</div>

{% endblock %}

