{% extends "base.html" %}

{% block content %}



<div id="albums">

{% for album in main_albums %}

  {% if (loop.index == 1) %}
    <div class="row">
  {% endif %}  

  <div class="col">

    <a href="/media/{{ album.album.id }}">
    <div class="card" style="margin-top: 30px; text-align:center">
        <img class="card-img-top img-fluid" src="/userfile/{{ album.cover_photo_id }}/thumbnail" alt="Card image cap">
      <div class="card-body">
          <p class="card-text">{{ album.album.name }}</p> </a>
<!--          <p class="card-text small_note">  {{ album.total_files}} files</p>-->
      </div>
    </div>
 

 </div> <!-- column -->

  {% if loop.index % 3 == 0 %}
    </div> <!-- row -->
    <div class="row">
  {% endif %}
  
{% endfor %}

<!-- might have an open row div remaining -->

</div> <!-- albums -->
</div>


<div id="albums">

{% for album in other_albums %}

  {% if (loop.index == 1) %}
    <div class="row">
  {% endif %}

  <div class="col">

    <a href="/media/{{ album.album.id }}">
    <div class="card" style="margin-top: 30px; text-align:center">
        <img class="card-img-top img-fluid" src="/userfile/{{ album.cover_photo_id }}/thumbnail" alt="Card image cap">
      <div class="card-body">
          <p class="card-text">{{ album.album.name }}</p> </a>
<!--          <p class="card-text small_note">  {{ album.total_files}} files</p>-->
      </div>
    </div>


 </div> <!-- column -->

  {% if loop.index % 3 == 0 %}
    </div> <!-- row -->
    <div class="row">
  {% endif %}

{% endfor %}

<!-- might have an open row div remaining -->

</div> <!-- albums -->
</div>

{% endblock %}


