{% extends "media/media-album.html" %}

{% block extra_css %}
{{super()}}
<link href="https://releases.transloadit.com/uppy/v1.26.1/uppy.min.css" rel="stylesheet">
{% endblock %}



{% block extra_js %}
{{super()}}
<script src="https://releases.transloadit.com/uppy/v1.26.1/uppy.min.js"></script>
<script>

  var uppy = Uppy.Core()
  uppy.use(Uppy.Dashboard, {
  trigger: '.UppyModalOpenerBtn',
  inline: true,
  target: '.DashboardContainer',
  doneButtonHandler: () => {
    //this.uppy.reset()
    //this.requestCloseModal()
    console.log("Done Clicked")
    location.reload()
  },
  replaceTargetContent: true,
  showProgressDetails: true,
  note: 'Images, Videos and Folders containing them',
  height: 470,
  metaFields: [
    { id: 'name', name: 'Name', placeholder: 'file name' },
    { id: 'description', name: 'Description', placeholder: 'describe what the image is about' },
    { id: 'tags', name: 'Tags', placeholder: 'tags, separated, by, commas' },
  ],
  browserBackButtonClose: false
})

    //https://uppy.io/docs/uppy/#meta
    uppy.setMeta({ platform: '{{ platform or "media" }}' })
    {% if album %}
        uppy.setMeta({ album: '{{ album.id }}' })
    {% endif %}

<!--    Use the metadata to store the User ID  (maybe use a custom cookie or JWT) -->

<!--    uppy.setMeta({ user: '{{ user.id }}' })  //https://uppy.io/docs/uppy/#meta-->

    uppy.use(Uppy.Tus, {endpoint: 'http://127.0.0.1:5000/upload_resumable', withCredentials: true})
<!--    uppy.use(Uppy.XHRUpload, {endpoint: 'http://127.0.0.1:5000/upload_resumable', formData: true, metaFields: null, method: 'post'})-->

uppy.on('upload-error', (file, error, response) => {

  console.log('error with file:', file.id)
  console.log('error message:', error)
})

uppy.on('error', (error, response) => {

  console.log('error with file:', file.id)
  console.log('error message:', error)
})
</script>

{% endblock %}



{% block content %}


{# *** This adds the create album buttons {super()} #}

<div id="albums">

{% for album in main_albums %}

  {% if (loop.index == 1) %}
    <div class="row">
  {% endif %}  

  <div class="col">

    <a href="/media/{{ album.album.id }}">
    <div class="card" style="margin-top: 30px; text-align:center">
        <img class="card-img-top img-fluid" src="/userfile/{{ album.cover_photo_id }}/thumbnail" alt="Card image cap">
      <div class="card-body">
          <p class="card-text">{{ album.album.name }}</p> </a>
<!--          <p class="card-text small_note">  {{ album.total_files}} files</p>-->
      </div>
    </div>
 

 </div> <!-- column -->

  {% if loop.index % 3 == 0 %}
    </div> <!-- row -->
    <div class="row">
  {% endif %}
  
{% endfor %}

<!-- might have an open row div remaining -->

</div> <!-- albums -->
</div>


<div id="albums">

{% for album in other_albums %}

  {% if (loop.index == 1) %}
    <div class="row">
  {% endif %}

  <div class="col-sm-3">

    <a href="/media/{{ album.album.id }}">
    <div class="card" style="margin-top: 30px; text-align:center">
        <img class="card-img-top img-fluid" src="/userfile/{{ album.cover_photo_id }}/thumbnail" alt="Card image cap">
      <div class="card-body">
          <p class="card-text">{{ album.album.name }}</p> </a>
<!--          <p class="card-text small_note">  {{ album.total_files}} files</p>-->
      </div>
    </div>


 </div> <!-- column -->

  {% if loop.index % 4 == 0 %}
    </div> <!-- row -->
    <div class="row">
  {% endif %}

{% endfor %}

<!-- might have an open row div remaining -->

</div> <!-- albums -->


<!--    <div id="drag-drop-area"></div>-->
<!--    <div class="DashboardContainer" width="500px" height="500px"></div>-->
</div>



{% endblock %}


