{% extends "base.html" %}

{% block content %}

<div style="margin-left: 20px;">

<i class="fa fa-caret-right" style="margin-right: 5px;"></i>Your <i class="fab fa-facebook fa-lg" style="margin: 0 5px;"></i> <a href="{{ url_for('filecoin_files') }}">files</a> on<img src="{{ url_for('static', filename='assets/filecoin-logo2.svg') }}" id="filecoin-logo"/>

<hr style="margin: 20px 0;"/>


<i class="fa fa-caret-right" style="margin-right: 5px;"></i>Your <i class="fab fa-facebook fa-lg" style="margin: 0 5px;"></i><a href="{{ url_for ('facebook_memories') }}">memories</a> from this day, {{ this_month }} {{ this_day }}.

<hr style="margin: 20px 0;"/>

<i class="fa fa-caret-right" style="margin-right: 5px;"></i>Your <i class="fab fa-facebook fa-lg" style="margin: 0 5px;"></i> albums:

<div id="albums">

{% for album in albums %}

  {% if (loop.index == 1) %}
    <div class="row">
  {% endif %}  

  <div class="col">

    <a href="/facebook-album/{{ album[0] }}">
    <div class="card" style="margin-top: 30px; text-align:center">
      {% if album[2] == "Videos" %}
       <div class="embed-responsive embed-responsive-4by3">
         <video controls><source src="/userfile/facebook/{{ album[5] }}" /></video>
        </div>
      {% else %}
        <img class="card-img-top img-fluid" src="/userfile/facebook/{{ album[5] }}" alt="Card image cap">
      {% endif %}
      <div class="card-body">
          <p class="card-text">{{ album[2] }}</p> </a>
          <p class="card-text small_note">  {{ album[4]}} files</p>
      </div>
    </div>
 

 </div> <!-- column -->

  {% if loop.index % 3 == 0 %}
    </div> <!-- row -->
    <div class="row">
  {% endif %}
  
{% endfor %}

<!-- might have an open row div remaining -->

</div> <!-- albums -->
</div>

{% endblock %}


